<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleDisplayName</key>
    <string>wym</string>
    <key>CFBundleName</key>
    <string>wym</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.davidwu.financetracker.dailySummary</string>
		<string>com.davidwu.financetracker.inactivityCheck</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>wym sends notifications when you add transactions and reach budget limits.</string>

    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
        <string>fetch</string>
        <string>processing</string>
    </array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
